body{background-color: azure}
h1{font-size: xx-large;
color:brown;
padding-top: 2%;
padding-bottom: 2%;
background-color: antiquewhite;
text-align: center ;}
a{font-size: large;
text-align: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
display: block;
color:blue;
padding-top:2% ;
padding-bottom: 2%;
border: solid black ;
margin:2%

}
a:hover{
    background-color: bisque;
    color: black;
}